* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  font-family: 微軟正黑體, serif;
}

.displayNone {
  display: none;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-30px {
  font-size: 30px;
}
.bigTitleMaPa {
  margin-top: 20px;
}
.content {
  margin: auto;
  margin-top: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .displayNone {
    display: block;
  }
}
@media (min-width: 992px) {
  .font-size-30px {
    font-size: 45px;
  }
  .bigTitleMaPa {
    margin-top: 0;
    margin-right: 30px;
    padding-left: 60px;
  }
  .content {
    color: #7c7c7c;
    font-size: 15px;
    line-height: 24px;
    padding: 50px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 0;
  }
}

.height {
  height: 400px;
}
@media (min-width: 1200px) {
  .height {
    height: 580px;
  }
}
.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.nav {
  padding: 5px 0;
  justify-content: space-around;
  background-color: #fff;
  position: fixed;
  width: 100%;
}
.logo {
  width: 60px;
  height: 60px;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.nav-bar {
  padding: 15px 0;
}
.nav-bar > a {
  color: #000;
  font-size: 17px;
  margin-right: 40px;
  transition: 1s;
}
.nav-bar > a:hover {
  text-decoration: none;
  color: #b9a92def;
}
.shopButton {
  width: 60px;
  height: 90px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #ffe100;
  text-align: center;
  transition: all 0.5s;
}

.mall {
  font-size: 14px;
}

.banner {
  /* display: flex;  row已經有flex */
  background: url("./images/1_官網首圖_魷魚螺肉蒜粽_2000x960.jpg") no-repeat;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
.goodHeart {
  margin-top: 370px;
}
.slider {
  display: flex;
  margin-top: 220px;
}
.circle {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.circle01 {
  background-color: #fff;
}
.goDown {
  color: #fff;
  cursor: pointer;
  animation: goDown 2s linear infinite alternate both;
  margin-bottom: 40px;
}
@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text {
  padding: 50px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  margin: 50px 20px 50px 0;
  font-size: 15px;
  color: #7c7c7c;
  line-height: 24px;
}
.newsBanner {
  width: 100%;
  height: 600px;
  display: block;
  background-image: url("./images/homeNews-banner.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  color: red;
}
.newsText {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translate(-50%);
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.date {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px dotted #000;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  top: 0;
  left: 0;
  z-index: 999;
}
.announcement {
  padding: 60px 20px 0 20px;
  display: block;
  color: #000;
}
.announcement:hover {
  text-decoration: none;
}
.announcement:hover .date {
  color: #af8f56;
  border-color: #af8f56;
}
.annTitle {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}
.annContent {
  color: #7c7c7c;
  font-size: 15px;
  line-height: 26px;
}

.announcement:hover .annTitle {
  color: #af8f56;
}
.annPic {
  overflow: hidden;
}

.annPic img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}
.announcement:hover .annPic img {
  transform: scale(1.05);
}
.toLeft {
  position: absolute;
  bottom: 120px;
  left: 0;
  color: #000;
  transition: 0.5s;
  font-size: 30px;
}
.toLeft:hover {
  left: -5px;
  color: #000;
}
.toRight {
  position: absolute;
  bottom: 120px;
  right: 0;
  color: #000;
  transition: 0.5s;
  font-size: 30px;
}
.toRight:hover {
  right: -5px;
  color: #000;
}
.moreNews {
  border: 1px solid #af8f56;
  color: #af8f56;
  text-align: center;
  letter-spacing: 1px;
  line-height: 35px;
  width: 145px;
  margin: auto;
  display: block;
  font-size: 15px;
  border-radius: 35px;
  transition: 0.5s;
}
.moreNews:hover {
  text-decoration: none;
  background-color: #af8f56;
  color: #fff;
}
/* ---------------------------博物館------------------------------- */
.museum {
  display: block;
  background: url("./images/homeMuseum-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: brightness(0.6);
}
.museum:hover + .sausage {
  top: 200px;
}
.sausage {
  height: 170px;
  width: 290px;
  position: absolute;
  left: 50%;
  top: -180px;
  transform: translateX(-50%);
  transition: 0.5s;
  cursor: pointer;
}
.sausage:hover {
  top: 200px;
}
.sausage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------------------香腸盤子------------------------------- */
/* .sausagePlate {
  height: 310px;
  width: 300px;
} */
.sausagePlate > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bigTitle {
  color: #7c7c7c;
  letter-spacing: 1px;
}
.content p {
  color: #7c7c7c;
  font-size: 15px;
  line-height: 24px;
}
.lower-left-link {
  display: block;
  position: absolute;
  right: 0;
  bottom: -8px;
  font-size: 16px;
  color: #af8f56;
  padding: 0 10px;
  background-color: #fff;
  transition: 0.5s;
}
.lower-left-link:hover {
  color: red;
  text-decoration: none;
}
/* ---------------------------小女孩------------------------------- */
.girl {
  display: block;
  background: url("./images/homeVideo-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: brightness(0.6);
  transition: 0.5s;
}
.hover:hover .girl {
  filter: brightness(0.8);
}
.hover:hover .play {
  top: 35%;
  opacity: 0.7;
}
.play:hover {
  opacity: 1 !important;
}

.play {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: 0.5s;
  cursor: pointer;
  font-size: 100px;
  opacity: 0;
}
.happiness {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  font-size: 25px;
  opacity: 0;
  transition: 0.5s;
}
.hover:hover .happiness {
  bottom: 35%;
  opacity: 1;
}
.event {
}
.event-link {
  color: #000;
}
.event-link:hover {
  text-decoration: none;
}
.date2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted #000;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  transition: 0.5s;
}
.charityPic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.charityPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.event-title {
  font-size: 24px;
  transition: 0.5s;
  overflow: hidden;
  line-height: 30px;
  height: 30px;
}
.event-content {
  font-size: 16px;
  color: #7c7c7c;
  overflow: hidden;
  line-height: 26px;
  height: 78px;
}
.event-link:hover .date2 {
  color: #af8f56;
  border-color: #af8f56;
}
.event-link:hover .event-title {
  color: #af8f56;
}
.event-link:hover .charityPic img {
  transform: scale(1.1);
}
.footer p,
.footer a {
  color: #af8f56;
  font-size: 15px;
  line-height: 30px;
}
.footer {
  background: url("./images/footer-bg.jpg");
}
.footerLogo {
  height: 50px;
  width: 250px;
}
.footerLogo img {
  height: 100%;
}
.contactInfo {
  max-width: 770px;
}
.contactIcon a {
  display: block;
  border-radius: 50%;
  border: 1px solid #af8f56;
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 15px;
}
.goTop {
  color: #af8f56;
  margin: 30px 0 0px;
}
