:root {
  --brown: #af8f56;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  transition: all 0.2s linear;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  font-family: 微軟正黑體, serif;
}
.p1Text {
  font-size: 40px;
  color: #fff;
  font-style: italic;
}
.p2Text {
  font-size: 25px;
  color: #fff;
}
.f-column {
  flex-direction: column;
}
.pa0 {
  padding: 0;
}
.picWrap,
.dateWrap {
  margin: 15px auto;
}
.eventWarp {
  margin: auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 480px) {
  .p1Text {
    font-size: 55px;
    color: #fff;
    font-style: italic;
  }
  .p2Text {
    font-size: 35px;
    color: #fff;
  }
  .f-column {
    flex-direction: row;
  }
  .pa0 {
    padding: 0 20px;
  }
  .eventWarp {
    margin: auto;
    width: calc(88% - 265px);
    text-align-last: left;
  }
  .picWrap,
  .dateWrap {
    margin: auto 0;
  }
}

.font-size-30px {
  font-size: 30px;
}
.bigTitleMaPa {
  margin-top: 20px;
}
.content {
  margin: auto;
  margin-top: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 50px 0;
}
.order {
  order: -1;
}
nav {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 999;
}
@media (min-width: 992px) {
  nav {
    background: #fff;
  }
  .font-size-30px {
    font-size: 45px;
  }
  .bigTitleMaPa {
    margin-top: 0;
    margin-right: 30px;
    padding-left: 60px;
  }
  .content {
    color: #7c7c7c;
    font-size: 15px;
    line-height: 24px;
    padding: 50px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 0;
  }
  .order {
    order: 2;
  }
}

.height {
  height: 400px;
}
.nav-link li {
  margin: 0 5px;
}

.museum:hover + .sausage {
  top: 105px;
  opacity: 1;
}
.sausage:hover {
  top: 105px;
  opacity: 1;
}
.hover:hover .play {
  top: 25%;
  opacity: 0.7;
}
.hover:hover .happiness {
  bottom: calc(25%);
  opacity: 1;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .height {
    height: 580px;
  }
  .nav-link li {
    margin: 0 20px;
  }

  .museum:hover + .sausage {
    top: 205px;
    opacity: 1;
  }
  .sausage:hover {
    top: 205px;
    opacity: 1;
  }
  .hover:hover .play {
    top: 32%;
    opacity: 0.7;
  }
  .hover:hover .happiness {
    bottom: calc(32%);
    opacity: 1;
    text-decoration: none;
  }
}
.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}
/* ---------------------------導覽列------------------------------- */

.logo-mobile {
  width: 80px;
  height: 80px;
}
.logo-mobile img {
  width: 100%;
  height: auto;
}
.logo-desktop {
  width: 60px;
  height: 60px;
}
.logo-desktop img {
  width: 100%;
  height: auto;
}
.im {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}
.im a {
  color: #fff;
  font-size: 25px;
}

.nav-link a {
  color: #000;
  font-size: 16px;
  transition: 0.5s;
}
.nav-link a:hover {
  text-decoration: none;
  color: #b9a92def;
}

.nav-shopping-mall {
  right: 3%;
  position: absolute;
  z-index: 999;
}
.nav-fb-icon {
  margin: 20px 20px 0 0;
  color: #000;
  font-size: 18px;
}
.nav-fb-icon:hover {
  color: #000;
}
.fakediv {
  width: 60px;
  height: 60px;
}
.mall-button {
  background-color: #ffe100;
  width: 60px;
  min-height: 90px;
  border-radius: 0 0 30px 30px;
  transition: 0.5s;
}
.mall-button:hover {
  background-color: #c92c06;
  padding-top: 10px;
}
.mall-button:hover .mall-link {
  text-decoration: none;
}
.mall-button:hover .mall-text {
  color: #fff;
}
.mall-button:hover i {
  color: #fff;
}
.mall-text {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 15px 0 15px;
  transition: 0.5s;
}
.mall-button i {
  display: block;
  color: #000;
  font-size: 22px;
  padding: 5px 0;
  transform: rotate3d(0, 1, 0, 0);
  animation: rotate 3s linear infinite;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }
  50% {
    transform: rotate3d(0, 1, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

/* ---------------------------Banner------------------------------- */
.banner {
  background: url("./images/3_官網首圖_肉絨奶黃包_2000x960.jpg") no-repeat;
  background-position: 75% center;
  width: 100%;
  height: 100vh;
  /* padding-top: 40px; */
  background-origin: content-box;
}

.slider {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 8%;
}
.circle {
  width: 16px;
  height: 16px;
  margin: 5px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.inner {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
}
.goDown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  color: #fff;
  cursor: pointer;
  animation: goDown 2s linear infinite alternate both;
  text-align: center;
}
.goDown:hover {
  color: #fff;
}
@keyframes goDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ---------------------------What's New------------------------------- */
.newsBanner {
  width: 100%;
  background: url("./images/homeNews-banner.jpg");
  background-size: cover;
  background-position: 60% center;
  filter: brightness(0.6);
}

.newsText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;

  width: 100%;
}
.newsText:hover {
  text-decoration: none;
}

/* ---------------------------公告------------------------------- */
.date {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px dotted #000;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  top: 0;
  left: 0;
  z-index: 999;
}
.announcement {
  padding: 60px 20px 0 20px;
  display: block;
  color: #000;
}
.announcement:hover {
  text-decoration: none;
}
.announcement:hover .date {
  color: var(--brown);
  border-color: var(--brown);
}
.annTitle {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}
.annContent {
  color: #7c7c7c;
  font-size: 15px;
  line-height: 26px;
}

.announcement:hover .annTitle {
  color: var(--brown);
}
.annPic {
  overflow: hidden;
}

.annPic img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}
.announcement:hover .annPic img {
  transform: scale(1.05);
}
.toLeft {
  position: absolute;
  bottom: 120px;
  left: 0;
  color: #000;
  transition: 0.5s;
  font-size: 30px;
}
.toLeft:hover {
  left: -5px;
  color: #000;
}
.toRight {
  position: absolute;
  bottom: 120px;
  right: 0;
  color: #000;
  transition: 0.5s;
  font-size: 30px;
}
.toRight:hover {
  right: -5px;
  color: #000;
}
.moreNews {
  border: 1px solid var(--brown);
  color: var(--brown);
  text-align: center;
  letter-spacing: 1px;
  line-height: 35px;
  width: 145px;
  margin: auto;
  display: block;
  font-size: 15px;
  border-radius: 35px;
  transition: 0.5s;
}
.moreNews:hover {
  text-decoration: none;
  background-color: var(--brown);
  color: #fff;
}
/* ---------------------------博物館------------------------------- */
.museum {
  display: block;
  background: url("./images/homeMuseum-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: brightness(0.6);
}

.sausage {
  height: 170px;
  width: 290px;
  position: absolute;
  left: 50%;
  top: -180px;
  transform: translateX(-50%);
  transition: 1.2s;
  cursor: pointer;
  opacity: 0;
}

.sausage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------------------香腸盤子------------------------------- */
/* .sausagePlate {
  height: 310px;
  width: 300px;
} */
.sausagePlate > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bigTitle {
  color: #7c7c7c;
  letter-spacing: 1px;
}
.content p {
  color: #7c7c7c;
  font-size: 15px;
  line-height: 24px;
}
.lower-left-link {
  display: block;
  position: absolute;
  right: 0;
  bottom: -8px;
  font-size: 16px;
  color: var(--brown);
  padding: 0 10px;
  background-color: #fff;
  transition: 0.5s;
}
.lower-left-link:hover {
  color: red;
  text-decoration: none;
}
/* ---------------------------小女孩------------------------------- */
.girl {
  display: block;
  background: url("./images/homeVideo-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: brightness(0.6);
  transition: 0.5s;
}
.hover:hover .girl {
  filter: brightness(0.8);
}

.play:hover {
  opacity: 1 !important;
}

.play {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: 0.5s;
  cursor: pointer;
  font-size: 100px;
  opacity: 0;
}
.happiness {
  position: absolute;
  left: 50%;
  bottom: calc(0%);
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  font-size: 25px;
}

/* ---------------------------公益活動------------------------------- */
.event-link {
  display: flex;
  color: #000;
  max-width: 1140px;
  margin: 0 auto;
}
.event-link:hover {
  text-decoration: none;
}

.date2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted #000;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  transition: 0.5s;
}
.event-title {
  font-size: 24px;
  transition: 0.5s;
  overflow: hidden;
  line-height: 30px;
  height: 30px;
}
.event-content {
  font-size: 16px;
  color: #7c7c7c;
  line-height: 26px;
  height: 78px;
  overflow: hidden;
}
.charityPic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.charityPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.event-link:hover .date2 {
  color: var(--brown);
  border-color: var(--brown);
}
.event-link:hover .event-title {
  color: var(--brown);
}
.event-link:hover .charityPic img {
  transform: scale(1.1);
}
/* ---------------------------footer------------------------------- */
.footer p,
.footer a {
  color: var(--brown);
  font-size: 15px;
  line-height: 30px;
}
.footer {
  background: url("./images/footer-bg.jpg");
}
.footerLogo {
  height: 50px;
  width: 250px;
}
.footerLogo img {
  height: 100%;
}
.contactInfo {
  max-width: 770px;
}
.contactIcon a {
  display: block;
  border-radius: 50%;
  border: 1px solid var(--brown);
  font-size: 20px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
#fb:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  background: var(--brown);
  color: #251807;
}
#line:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  background: var(--brown);
  color: #251807;
}
#ig:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  background: var(--brown);
  color: #251807;
}
#cart-plus:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  background: var(--brown);
  color: #251807;
}
#contact:hover {
  transform: rotate(360deg);
  transition: 0.5s;
  background: var(--brown);
  color: #251807;
}

.goTop {
  color: var(--brown);
  margin: 30px 0 0px;
}
